<div class="admin-page">

    <p-toast position="top-right" key="success"></p-toast>
    <p-card header="Categorias" subheader="">
        <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left p-2">
                        <p-button styleClass="p-button-help p-2 p-button-raised" label="Novo" routerLink="form"
                            icon="pi pi-plus">

                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-table [value]="categories" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>

                            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                            </th>
                            <th>Icon</th>
                            <th>Color</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-category>
                        <tr>

                            <td>{{category.name}}</td>
                            <td class="text-center"><i class="text-xl pi" [ngClass]="'pi-'+category.icon"></i></td>
                            <td class="text-center">
                                <i
                                class="pi pi-circle-on"
                                style="font-size: 2.3rem"
                                [ngStyle]="{ color: category.color }"
                               ></i>
                            </td>
                            <td class="flex justify-content-center">
                                <button pButton type="button"
                                    class="p-button-raised p-button-rounded p-button-help mr-4" icon="pi pi-pencil"
                                    (click)="goToEditForm(category._id)"></button>
                                <button pButton type="button" (click)="removeCategory(category._id)"
                                    class="p-button-raised p-button-rounded p-button-danger"
                                    icon="pi pi-trash"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-card>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width:'50vw'}"
    rejectButtonStyleClass="p-button-text p-2" acceptButtonStyleClass="p-2"></p-confirmDialog>